<div x-show="open"
     class="p-2 pr-1 mt-3 border border-gray-300 rounded-xl"
     id="comments-list-{{ recognition.id }}">
    <div class="pr-2 overflow-y-auto max-h-60 scrollbar">
        {% if recognition.comments.count > 0 %}
            <p class="mb-2 text-sm text-center text-gray-500">Comments:</p>
        {% endif %}
        {% for comment in recognition.comments.all %}
            <div id="comment-{{ comment.id }}">
                <p>{{ comment.content }}</p>
                <p class="text-sm text-gray-500">- {{ comment.user }}</p>
                <!-- Separator for inbetween comments -->
                {% if not forloop.last %}<div class="my-2 border-t border-gray-300"></div>{% endif %}
            </div>
        {% endfor %}
    </div>
</div>
<script>
    // Ensure the value of `open` is passed into AlpineJS from the backend response
    document.addEventListener('htmx:afterSwap', (event) => {
        const open = event.target.getAttribute('x-show') === 'true';
        Alpine.store('comments', { open });
    });
</script>
