{% load hx_tags %}
{% load shared_tags %}

<div id="heart-container-{{ recognition.id }}"
     class="flex items-center gap-1">
    <button {% hx_post "toggle_heart" object=recognition hearted=recognition.hearted_by_user %}
            hx-target="#heart-container-{{ recognition.id }}"
            hx-swap="outerHTML"
            class="flex items-center gap-1 text-red-500 hover:text-red-600">
        {% if recognition.hearted_by_user %}
            {% heroicon "heart_solid" class="w-6 h-6" %}
        {% else %}
            {% heroicon "heart" class="w-6 h-6" %}
        {% endif %}
    </button>
    <span class="text-gray-500">{{ recognition.hearts.count }}</span>
</div>
