# AWS Configuration
AWS_SECRET_NAME=your-secret-name
AWS_REGION=your-region

# Database
DB_NAME=prod_db
DB_USER=prod_user
DB_PASSWORD=strong-password

# Django
ALLOWED_HOSTS=example.com,www.example.com
SECRET_KEY=your-production-secret-key
