<!DOCTYPE html>
{% load static %}
{% load static tailwind_tags %}
{% load hx_tags %}
{% load shared_tags %}

<html lang="en">
    <head>
        <title>

            {% block title %}
                Build People
            {% endblock title %}

        </title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport"
              content="width=device-width,minimum-scale=1,initial-scale=1">
        <link rel="shortcut icon"
              type="image/x-icon"
              href="{% static 'theme/images/favicon.ico' %}">
        <!-- HTMX -->
        <script src="{% static 'theme/js/htmx.min.js' %}"></script>
        <meta name="htmx-config" content='{"useTemplateFragments":"true"}'>
        <!-- AlpineJS plugins must be placed before the core alpineJS cdn -->
        <!-- <script src="https://unpkg.com/htmx.org@latest/dist/ext/alpine-morph.js"></script> -->
        <script defer
                src="https://cdn.jsdelivr.net/npm/@alpinejs/collapse@3.x.x/dist/cdn.min.js"></script>
        <script defer
                src="https://cdn.jsdelivr.net/npm/@alpinejs/persist@3.x.x/dist/cdn.min.js"></script>
        <script defer
                src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
        <script src="{% static 'theme/js/base.js' %}"></script>

        {% block css %}
            {% tailwind_css %}
            <link rel="stylesheet" href="staticfiles/css/dist/styles.css">
        {% endblock css %}

    </head>
    <body class="overflow-y-auto bg-gray-100 scrollbar">

        {% block nav %}
            <!-- Desktop Navigation (hidden on mobile) -->
            <nav class="fixed top-0 left-0 hidden h-screen p-4 bg-white border-r md:block w-60">
                <div class="flex flex-col h-full">
                    {% if user.is_authenticated %}
                        <div class="flex flex-col flex-grow gap-2">
                            <a class="w-full px-4 py-2 text-lg font-bold text-blue-500 rounded-xl">Build People</a>
                            <a href="{% url 'build_people:home' %}"
                               class="flex items-center w-full gap-2 px-4 py-2 bg-gray-100 rounded-xl hover:bg-blue-500 hover:text-white">
                                {% heroicon "home" class="w-6 h-6" %}
                                Home
                            </a>
                            <a href="{% url 'build_people:home' %}"
                               class="flex items-center w-full gap-2 px-4 py-2 rounded-xl hover:bg-blue-500 hover:text-white">
                                {% heroicon "trophy" class="w-6 h-6" %}
                                Leaderboard
                            </a>
                            <a href="{% url 'build_people:profile' %}"
                               class="flex items-center w-full gap-2 px-4 py-2 rounded-xl hover:bg-blue-500 hover:text-white">
                                {% heroicon "user" class="w-6 h-6" %}
                                Profile
                            </a>
                            <hr />
                            <a href="{% url 'build_people:subscriptions' %}"
                               class="flex items-center w-full gap-2 px-4 py-2 rounded-xl hover:bg-blue-500 hover:text-white">
                                {% heroicon "organization" class="w-6 h-6" %}
                                Organization
                            </a>
                            {% if user.is_superuser %}
                                <a href="{% url 'admin:index' %}"
                                   class="flex items-center w-full gap-2 px-4 py-2 rounded-xl hover:bg-blue-500 hover:text-white">
                                    {% heroicon "settings" class="w-6 h-6" %}
                                    Admin
                                </a>
                            {% endif %}
                        </div>
                        <a href="{% url 'users:logout' %}"
                           class="flex items-center w-full gap-2 px-4 py-2 mt-auto text-red-500 rounded-xl hover:bg-red-500 hover:text-white">
                            {% heroicon "logout" class="w-6 h-6" %}
                            Logout
                        </a>
                    {% else %}
                        <div class="flex flex-col flex-grow gap-2">
                            <a class="w-full px-4 py-2 text-lg font-bold text-blue-500 rounded-xl">Build People</a>
                        </div>
                        <a href="{% url 'users:login' %}"
                           class="flex items-center w-full gap-2 px-4 py-2 mt-auto text-green-500 rounded-xl hover:bg-red-500 hover:text-white">
                            {% heroicon "login" class="w-6 h-6" %}
                            Login
                        </a>
                    {% endif %}
                </div>
            </nav>
            <!-- Mobile Menu Button -->
            {% if user.is_authenticated %}
                <button id="mobileMenuButton"
                        class="fixed z-50 p-3 text-white bg-blue-500 bg-opacity-50 rounded-full shadow-lg md:hidden top-4 right-4 hover:bg-blue-600">
                    <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                    </svg>
                </button>
                <!-- Mobile Menu Modal -->
                <div id="mobileMenu"
                     class="fixed inset-0 z-50 hidden bg-black bg-opacity-50 backdrop-blur-sm">
                    <div class="flex items-center justify-center min-h-screen p-4">
                        <div class="bg-white w-full max-w-[250px] rounded-xl p-4 shadow-xl">
                            {% if user.is_authenticated %}
                                <div class="flex flex-col gap-2">
                                    <a class="w-full px-4 py-2 text-lg font-bold text-blue-500 rounded-xl">Build People</a>
                                    <a href="{% url 'build_people:home' %}"
                                       class="flex items-center w-full gap-2 px-4 py-2 bg-gray-100 rounded-xl hover:bg-blue-500 hover:text-white">
                                        {% heroicon "home" class="w-6 h-6" %}
                                        Home
                                    </a>
                                    <a href="{% url 'build_people:home' %}"
                                       class="flex items-center w-full gap-2 px-4 py-2 rounded-xl hover:bg-blue-500 hover:text-white">
                                        {% heroicon "trophy" class="w-6 h-6" %}
                                        Leaderboard
                                    </a>
                                    <a href="{% url 'build_people:profile' %}"
                                       class="flex items-center w-full gap-2 px-4 py-2 rounded-xl hover:bg-blue-500 hover:text-white">
                                        {% heroicon "user" class="w-6 h-6" %}
                                        Profile
                                    </a>
                                    <hr />
                                    <a href="{% url 'build_people:subscriptions' %}"
                                       class="flex items-center w-full gap-2 px-4 py-2 rounded-xl hover:bg-blue-500 hover:text-white">
                                        {% heroicon "organization" class="w-6 h-6" %}
                                        Organization
                                    </a>
                                    {% if user.is_superuser %}
                                        <a href="{% url 'admin:index' %}"
                                           class="flex items-center w-full gap-2 px-4 py-2 rounded-xl hover:bg-blue-500 hover:text-white">
                                            {% heroicon "settings" class="w-6 h-6" %}
                                            Admin
                                        </a>
                                    {% endif %}
                                </div>
                                <a href="{% url 'users:logout' %}"
                                   class="flex items-center justify-start w-full gap-2 px-4 py-2 mt-auto text-red-500 rounded-xl hover:bg-red-500 hover:text-white">
                                    {% heroicon "logout" class="w-6 h-6" %}Logout
                                </a>
                            {% else %}
                                <div class="flex flex-col flex-grow gap-2">
                                    <a class="w-full px-4 py-2 text-lg font-bold text-blue-500 rounded-xl">Build People</a>
                                </div>
                                <a href="{% url 'users:login' %}"
                                   class="w-full gap-2 px-4 py-2 mt-auto text-green-500 rounded-xl hover:bg-red-500 hover:text-white">
                                    {% heroicon "login" class="w-6 h-6" %}Login
                                </a>
                            {% endif %}
                            <button id="closeMenu"></button>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endblock nav %}

        <!-- ========== MAIN CONTENT AREA ========== -->
        <main class="flex md:ml-60">
            <div id="floating-messages"
                 class="fixed z-50 hidden w-full max-w-xs mx-4 pointer-events-none md:block top-4 md:right-4">
                {% if messages %}
                    {% for message in messages %}
                        <div class="p-4 mb-2 text-white transition-opacity duration-500 bg-green-500 bg-opacity-75 shadow-lg pointer-events-auto rounded-xl"
                             id="message-{{ forloop.counter }}">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            </div>

            {% block content %}
            {% endblock content %}

        </main>

        {% block javascript %}
            <script src="{% static 'theme/js/base.js' %}"></script>
        {% endblock javascript %}

    </body>
</html>
