{% extends "base.html" %}

{% load build_people_tags %}
{% load hx_tags %}

{% block title %}
    Home
{% endblock title %}

{% block content %}
    <div class="w-full p-4 md:p-8 md:w-2/3">
        {% render_recognitions_list %}
    </div>
    <div class="sticky top-0 hidden w-1/3 h-screen py-4 pr-4 md:pr-8 md:py-8 md:block"
         x-data="{ open: {{ open|yesno:'true,false' }} }">
        <div id="recognition-form-container"
             {% hx_get "create_recognition" %}
             hx-trigger="load"
             hx-swap="outerHTML"
             hx-target="#recognition-form-container">
        </div>
    </div>
{% endblock content %}
