{% extends "base.html" %}

{% load hx_tags %}

{% block content %}
    <div id="user-profile" class="flex justify-center w-full p-4 md:p-8">
        <div class="w-full p-4 bg-white shadow-md md:p-8 md:w-5/12 rounded-xl">
            <h2 class="mb-4 text-2xl font-semibold text-center">Your Profile</h2>
            <div class="text-lg font-medium text-gray-700">First Name:</div>
            <div class="px-2 py-1 text-gray-900 border rounded-xl">{{ user.first_name }}</div>
            <div class="mt-3 text-lg font-medium text-gray-700">Last Name:</div>
            <div class="px-2 py-1 text-gray-900 border rounded-xl">{{ user.last_name }}</div>
            <div class="mt-3 text-lg font-medium text-gray-700">Email:</div>
            <div class="px-2 py-1 text-gray-900 border rounded-xl">{{ user.email }}</div>
            <div class="mt-3 text-lg font-medium text-gray-700">Company:</div>
            <div class="px-2 py-1 text-gray-900 border rounded-xl">{{ user.company }}</div>
            <div class="mt-3 text-lg font-medium text-gray-700">Points Available:</div>
            <div class="px-2 py-1 text-gray-900 border rounded-xl">{{ user.points_available }}</div>
            <div class="mt-3 text-lg font-medium text-gray-700">Points Received:</div>
            <div class="px-2 py-1 text-gray-900 border rounded-xl">{{ user.points_received }}</div>
            <div class="text-center">
                <button {% hx_get "user_form" object=user %}
                        hx-target="#user-profile"
                        hx-swap="outerHTML"
                        class="w-1/2 py-2 mt-4 text-white bg-blue-500 rounded-xl hover:bg-blue-600">
                    Edit Profile
                </button>
            </div>
        </div>
    </div>
{% endblock content %}
