{% extends "base.html" %}

{% load hx_tags %}

{% block title %}
    Subscriptions
{% endblock title %}

{% block content %}
    <div class="flex justify-center w-full p-4 text-center md:p-8" id="subscription-form">
        <div class="w-full p-4 bg-white shadow-md md:p-8 md:w-5/12 hover:shadow-lg rounded-xl">
            <div class="pb-3">
                <h2 class="pb-3 text-lg font-semibold">
                    <span>👥</span> Add Your Employees (Optional)
                </h2>
                <p class="text-sm text-gray-600 px-7">
                    Add employee emails to set up their accounts now, or skip this step and add them later. Each employee costs <strong>$3/month</strong>.
                </p>
            </div>
            <!-- Add Employee -->
            <div class="flex flex-wrap gap-2 pb-3">
                <input id="email-input"
                       name="email"
                       type="email"
                       class="flex-auto px-3 py-2 text-gray-800 border border-gray-300 rounded-xl"
                       placeholder="employee@company.com" />
                <div {% hx_get "add_employee" %}
                     hx-target="#employees-list"
                     hx-include="#email-input, #employees-list-input"
                     hx-swap="outerHTML"
                     hx-on::after-request="document.getElementById('email-input').value = ''"
                     class="w-full px-4 py-2 text-center text-gray-600 bg-gray-100 border rounded-xl hover:bg-gray-200 sm:w-auto">
                    Add Another Employee
                </div>
            </div>

            {% block new_employee_emails %}
                <div id="employees-list">
                    {% if new_emails %}
                        <div class="p-3 bg-gray-100 rounded-xl">
                            <!-- Hidden input to store emails as a comma-separated list -->
                            <input type="hidden"
                                id="employees-list-input"
                                name="employees_list"
                                value="{{ new_emails|join:',' }}">
                            {% for email in new_emails %}<div>{{ email }}</div>{% endfor %}
                        </div>
                    {% endif %}
                </div>
            {% endblock new_employee_emails %}

            <div class="flex gap-2 pt-3">
                <a href="{% url 'build_people:home' %}"
                   class="block w-1/2 px-4 py-2 text-gray-600 bg-gray-100 border rounded-xl hover:bg-gray-200">
                    Skip for Now
                </a>
                <button type="submit"
                        {% hx_post "send_employee_invites" %}
                        hx-include="#employees-list-input"
                        class="w-1/2 px-4 py-2 text-white bg-blue-600 rounded-xl hover:bg-blue-700">
                    Subscribe Now
                </button>
            </div>
        </div>
    </div>
{% endblock content %}
